body {
    background-color: greenyellow;
    background-image: url("http://static1.squarespace.com/static/5e6613a1dc75b87df82b78e1/t/5e6b98beede584624b3f3c97/1584109761526/SoMe-image.jpg?format=1500w");
    height:'100vh';
    margin-top:'-70px';
    font-size:'50px';
    background-size: 'cover';
    background-repeat: 'no-repeat'}

    .nav-link {
        width: 100%;
        background-color: skyblue;
        overflow: auto;
      }
      
      .nav-link a {
        float: left;
        padding: 12px;
        color: pink;
        text-decoration: none;
        font-size: 17px;
      }
      
      .nav-link a:hover {
        background-color: blueviolet;
      }
      
      .active:link{
        background-color: red;
        color:blue;
      }

      .active:link:hover{
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
      }

      .navbar-brand{
        width: 100%;
        background-color: lightgreen;
     

      }

      
